streamlit>=1.30.0
sqlmodel>=0.0.14
pandas>=2.0.0
openpyxl>=3.0.0
pydantic>=2.0.0
spacy>=3.5.0
pdfplumber>=0.10.0
requests>=2.31.0
https://huggingface.co/latincy/la_core_web_lg/resolve/main/la_core_web_lg-any-py3-none-any.whl
fuzzywuzzy>=0.18.0
python-Levenshtein>=0.12.2
alembic>=1.13.0
